---

---

<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>关于我</title>
</head>
<body>
<p>
	<a href="/">首页</a>
	&nbsp;
	<a href="/blog">blog</a>
</p>
<h1>关于我</h1>
<p>
  大家好，我的名字是<b>苏昆</b>，我的个人站点终于开始搭建了 🎉🎉🎉
</p>
<p>
  本次使用 astro 结合 netlify 搭建了个人站点，整个过程的体验感真的非常棒
</p>
</body>
</html>
