---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>首页</title>
	</head>
	<body>
		<p>
			<a href="/about">关于</a>
			&nbsp;
			<a href="/blog">blog</a>
		</p>
		<h1>个人站点上线啦！！！</h1>
	</body>
</html>
