---
import BaseLayout from "../layouts/BaseLayout.astro";

const {title, list} = Astro.props;
---

<BaseLayout title={title}>
	<h1>{title}</h1>
	<ul>
    {
			list.map(item => {
        return (
					<li>
						<a href={item.url}>{item.frontmatter.title}</a>
					</li>
        )
      })
    }
	</ul>
</BaseLayout>
